<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/2496906.jpg);">
  <div class="container">
    <h1>Welcome to my <strong>watch-list</strong>.</h1>
    <p><span id="banner-typed-text"></span></p>
  </div>
</div>